# Environment Variables
GEMINI_API_KEY=AQ.Ab8RN6Lz0ZTJFGOtDnYN_VE3M1AYRBtkW10iUtYeV_jWSQO-OA

# Supabase Authentication & Database Configuration
SUPABASE_URL=https://cppvbvhmedkhbizzyiqq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwcHZidmhtZWRraGJpenp5aXFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg3MjU4NDksImV4cCI6MjEwNDMwMTg0OX0.VdXBfTZpjVuGssOxbjmk1iA46-Inoxg6UrU3gzy2oDI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwcHZidmhtZWRraGJpenp5aXFxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODcyNTg0OSwiZXhwIjoyMTA0MzAxODQ5fQ.MrCUG4IgE7V9H-b8udaSOEbQrskzbIcn_SutMyACCfk
VITE_SUPABASE_URL=https://cppvbvhmedkhbizzyiqq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwcHZidmhtZWRraGJpenp5aXFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg3MjU4NDksImV4cCI6MjEwNDMwMTg0OX0.VdXBfTZpjVuGssOxbjmk1iA46-Inoxg6UrU3gzy2oDI
